In [73]:
#Import dependecies
from flask import Flask
from flask_cors import CORS
import pandas as pd
# mongo db

In [74]:
app = Flask(__name__)
CORS(app)

In [75]:
df = pd.read_csv('GCB2022v27_MtCO2_flat.csv')
df.head(10)

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,AFG,1755,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,AFG,1756,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,AFG,1757,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,AFG,1758,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,AFG,1759,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
df.count()

Country               63104
ISO 3166-1 alpha-3    61472
Year                  63104
Total                 62904
Coal                  21744
Oil                   21717
Gas                   21618
Cement                20814
Flaring               21550
Other                  1620
Per Capita            18974
dtype: int64

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63104 entries, 0 to 63103
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             63104 non-null  object
 1   ISO 3166-1 alpha-3  61472 non-null  object
 2   Year                63104 non-null  int64
 3   Total               62904 non-null  float64
 4   Coal                21744 non-null  float64
 5   Oil                 21717 non-null  float64
 6   Gas                 21618 non-null  float64
 7   Cement              20814 non-null  float64
 8   Flaring             21550 non-null  float64
 9   Other               1620 non-null   float64
 10  Per Capita          18974 non-null  float64
dtypes: float64(8), int64(1), object(2)
memory usage: 5.3+ MB

In [78]:
year2000_df = df.loc[df['Year'] >= 2000]
year2000_df.head()

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
250,Afghanistan,AFG,2000,1.047128,0.003664,0.787760,0.223504,0.010216,0.021984,NaN,0.053581
251,Afghanistan,AFG,2001,1.069098,0.069616,0.762112,0.208848,0.006538,0.021984,NaN,0.054300
252,Afghanistan,AFG,2002,1.340995,0.055109,0.727438,0.547416,0.011033,0.000000,NaN,0.063856
253,Afghanistan,AFG,2003,1.559602,0.091813,0.991575,0.466408,0.009807,0.000000,NaN,0.068871
254,Afghanistan,AFG,2004,1.237247,0.091600,0.908672,0.227168,0.009807,0.000000,NaN,0.052529

In [79]:
year2000_df.drop(["Total", "Other", "Per Capita"], axis = 1, inplace=True)
year2000_df.head(10)

c:\Users\Mikam\conda4class\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Country,ISO 3166-1 alpha-3,Year,Coal,Oil,Gas,Cement,Flaring
250,Afghanistan,AFG,2000,0.003664,0.787760,0.223504,0.010216,0.021984
251,Afghanistan,AFG,2001,0.069616,0.762112,0.208848,0.006538,0.021984
252,Afghanistan,AFG,2002,0.055109,0.727438,0.547416,0.011033,0.000000
253,Afghanistan,AFG,2003,0.091813,0.991575,0.466408,0.009807,0.000000
254,Afghanistan,AFG,2004,0.091600,0.908672,0.227168,0.009807,0.000000
255,Afghanistan,AFG,2005,0.106256,1.447280,0.329760,0.006211,0.000000
256,Afghanistan,AFG,2006,0.160944,1.656993,0.329204,0.012177,0.000000
257,Afghanistan,AFG,2007,0.747456,1.733072,0.307776,0.011605,0.000000
258,Afghanistan,AFG,2008,1.078145,2.864051,0.297040,0.015242,0.000000
259,Afghanistan,AFG,2009,1.514100,4.593624,0.271291,0.012872,0.000000

In [80]:
year2000_df.isna().any()

Country               False
ISO 3166-1 alpha-3     True
Year                  False
Coal                   True
Oil                    True
Gas                    True
Cement                 True
Flaring                True
dtype: bool

In [81]:
#ISO codes we can fix for the countries
year2000_df[year2000_df['ISO 3166-1 alpha-3'].isna() == True]

,Country,ISO 3166-1 alpha-3,Year,Coal,Oil,Gas,Cement,Flaring
19562,French Equatorial Africa,NaN,2000,NaN,NaN,NaN,NaN,NaN
19563,French Equatorial Africa,NaN,2001,NaN,NaN,NaN,NaN,NaN
19564,French Equatorial Africa,NaN,2002,NaN,NaN,NaN,NaN,NaN
19565,French Equatorial Africa,NaN,2003,NaN,NaN,NaN,NaN,NaN
19566,French Equatorial Africa,NaN,2004,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
47867,Ryukyu Islands,NaN,2017,NaN,NaN,NaN,NaN,NaN
47868,Ryukyu Islands,NaN,2018,NaN,NaN,NaN,NaN,NaN
47869,Ryukyu Islands,NaN,2019,NaN,NaN,NaN,NaN,NaN
47870,Ryukyu Islands,NaN,2020,NaN,NaN,NaN,NaN,NaN
47871,Ryukyu Islands,NaN,2021,NaN,NaN,NaN,NaN,NaN

In [82]:
countries = list(year2000_df[year2000_df['ISO 3166-1 alpha-3'].isna() ==True]['Country'].unique())

len(countries)

6

In [83]:
#drop the 6 countries
cleaned_data_df = year2000_df[~year2000_df['Country'].isin(countries)]

In [84]:
cleaned_data_df.fillna(0, inplace=True)

cleaned_data_df.head(10)

c:\Users\Mikam\conda4class\envs\PythonData\lib\site-packages\pandas\core\frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

,Country,ISO 3166-1 alpha-3,Year,Coal,Oil,Gas,Cement,Flaring
250,Afghanistan,AFG,2000,0.003664,0.787760,0.223504,0.010216,0.021984
251,Afghanistan,AFG,2001,0.069616,0.762112,0.208848,0.006538,0.021984
252,Afghanistan,AFG,2002,0.055109,0.727438,0.547416,0.011033,0.000000
253,Afghanistan,AFG,2003,0.091813,0.991575,0.466408,0.009807,0.000000
254,Afghanistan,AFG,2004,0.091600,0.908672,0.227168,0.009807,0.000000
255,Afghanistan,AFG,2005,0.106256,1.447280,0.329760,0.006211,0.000000
256,Afghanistan,AFG,2006,0.160944,1.656993,0.329204,0.012177,0.000000
257,Afghanistan,AFG,2007,0.747456,1.733072,0.307776,0.011605,0.000000
258,Afghanistan,AFG,2008,1.078145,2.864051,0.297040,0.015242,0.000000
259,Afghanistan,AFG,2009,1.514100,4.593624,0.271291,0.012872,0.000000

In [85]:
#check for NaN values
cleaned_data_df.isna().any()

Country               False
ISO 3166-1 alpha-3    False
Year                  False
Coal                  False
Oil                   False
Gas                   False
Cement                False
Flaring               False
dtype: bool

In [86]:
cleaned_data_df.columns

Index(['Country', 'ISO 3166-1 alpha-3', 'Year', 'Coal', 'Oil', 'Gas', 'Cement',
       'Flaring'],
      dtype='object')

In [87]:
cleaned_data_df.rename(columns= {'ISO 3166-1 alpha-3': 'ISO'}, inplace = True)
cleaned_data_df.head(10)

c:\Users\Mikam\conda4class\envs\PythonData\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

         Country  ISO  Year      Coal       Oil       Gas    Cement   Flaring
250  Afghanistan  AFG  2000  0.003664  0.787760  0.223504  0.010216  0.021984
251  Afghanistan  AFG  2001  0.069616  0.762112  0.208848  0.006538  0.021984
252  Afghanistan  AFG  2002  0.055109  0.727438  0.547416  0.011033  0.000000
253  Afghanistan  AFG  2003  0.091813  0.991575  0.466408  0.009807  0.000000
254  Afghanistan  AFG  2004  0.091600  0.908672  0.227168  0.009807  0.000000
255  Afghanistan  AFG  2005  0.106256  1.447280  0.329760  0.006211  0.000000
256  Afghanistan  AFG  2006  0.160944  1.656993  0.329204  0.012177  0.000000
257  Afghanistan  AFG  2007  0.747456  1.733072  0.307776  0.011605  0.000000
258  Afghanistan  AFG  2008  1.078145  2.864051  0.297040  0.015242  0.000000
259  Afghanistan  AFG  2009  1.514100  4.593624  0.271291  0.012872  0.000000

In [88]:
#We are going to drop the 'global' (ISO = 'WLD') rows because that it totals for the entire world
world_data = cleaned_data_df[cleaned_data_df['ISO'] == 'WLD']

cleaned_data_df = cleaned_data_df[cleaned_data_df['Country']!= 'Global']

In [89]:
transport_data = cleaned_data_df[cleaned_data_df['ISO'] == 'XIT']

cleaned_data_df = cleaned_data_df[cleaned_data_df['Country']!= 'International Transport']

In [90]:
cleaned_data_df.to_csv('cleaned_emissions_df.csv', index=False)

In [91]:
cleaned_data_df.to_json(r'cleaned_emissions_df.json')

In [92]:
import pprint as pprint

In [93]:
test = pd.read_json("cleaned_emissions_df.json", lines=True)
print(test)

                                             Country  \
0  {'250': 'Afghanistan', '251': 'Afghanistan', '...

                                                 ISO  \
0  {'250': 'AFG', '251': 'AFG', '252': 'AFG', '25...

                                                Year  \
0  {'250': 2000, '251': 2001, '252': 2002, '253':...

                                                Coal  \
0  {'250': 0.0036639999999999997, '251': 0.069616...

                                                 Oil  \
0  {'250': 0.78776, '251': 0.762112, '252': 0.727...

                                                 Gas  \
0  {'250': 0.22350399999999998, '251': 0.20884799...

                                              Cement  \
0  {'250': 0.010216, '251': 0.0065379999999999995...

                                             Flaring
0  {'250': 0.021984, '251': 0.021984, '252': 0.0,...

In [94]:
from pymongo import MongoClient   
from pprint import pprint

In [95]:
mongo = MongoClient(port=27017)

In [96]:
print(mongo.list_database_names())

['admin', 'classDB', 'config', 'epa', 'local', 'met', 'uk_food']