In [1]:
#Import dependecies
from flask import Flask
from flask_cors import CORS
import pandas as pd
# mongo db

In [2]:
app = Flask(__name__)
CORS(app)

In [3]:
df = pd.read_csv('GCB2022v27_MtCO2_flat.csv')
df.head(10)

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,AFG,1755,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,AFG,1756,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,AFG,1757,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,AFG,1758,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,AFG,1759,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.count()

Country               63104
ISO 3166-1 alpha-3    61472
Year                  63104
Total                 62904
Coal                  21744
Oil                   21717
Gas                   21618
Cement                20814
Flaring               21550
Other                  1620
Per Capita            18974
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63104 entries, 0 to 63103
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             63104 non-null  object
 1   ISO 3166-1 alpha-3  61472 non-null  object
 2   Year                63104 non-null  int64
 3   Total               62904 non-null  float64
 4   Coal                21744 non-null  float64
 5   Oil                 21717 non-null  float64
 6   Gas                 21618 non-null  float64
 7   Cement              20814 non-null  float64
 8   Flaring             21550 non-null  float64
 9   Other               1620 non-null   float64
 10  Per Capita          18974 non-null  float64
dtypes: float64(8), int64(1), object(2)
memory usage: 5.3+ MB

In [12]:
year2000_df = df.loc[df['Year'] == 2000]
year2000_df.head()

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
250,Afghanistan,AFG,2000,1.047128,0.003664,0.787760,0.223504,0.010216,0.021984,NaN,0.053581
522,Albania,ALB,2000,3.024926,0.069531,2.839801,0.021957,0.093637,0.000000,NaN,0.950630
794,Algeria,DZA,2000,82.221010,1.960240,26.827808,38.534288,3.789426,11.109248,NaN,2.671715
1066,Andorra,AND,2000,0.523952,0.000000,0.523952,0.000000,0.000000,0.000000,NaN,7.927016
1338,Angola,AGO,2000,9.516064,0.000000,3.667664,1.084544,0.081264,4.682592,NaN,0.580458

In [13]:
import hvplot.pandas
from matplotlib import pyplot as pyplot
import numpy as np