In [1]:
#Import psycopg2
import psycopg2
#import depenedencies
import pandas as pd

In [4]:
## declare the connection string specifying the hose name database name, user name and password
conn_string = "host= 'localhost' dbname= 'project3'\
user= 'postgres' password= 'Mahyar@378'"

#use connect function to establish the connection
conn = psycopg2.connect(conn_string)

In [6]:
#Query all records in the database
data = pd.read_sql('select * from final', conn)

In [7]:
data.head()

,country,total,coal,oil,gas,cement,flaring
0,China,177305.057105,130257.534962,24557.651857,6314.465957,13181.112882,37.874820
1,USA,123528.098784,38500.808418,52353.235484,30012.365171,881.204796,1160.006640
2,India,39162.083008,24723.491522,10332.574810,2034.204247,2013.271144,58.541290
3,Russia,35503.284889,9097.078482,7772.362995,16867.348943,480.421762,947.332335
4,Japan,26963.314907,9477.663751,11924.431232,4733.657971,620.294574,10.439636