In [8]:
#Import psycopg2
import psycopg2
#import depenedencies
import pandas as pd

In [10]:
## declare the connection string specifying the hose name database name, user name and password
conn_string = "host= 'localhost' dbname= 'project3'\
user= 'postgres' password= '3LetterAnatomy'"

#use connect function to establish the connection
conn = psycopg2.connect(conn_string)

In [11]:
#Query all records in the database
data = pd.read_sql('select * from emissions', conn)

c:\Users\Martha\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [ ]:
data.head()

       country  iso  year      coal       oil       gas    cement   flaring
0  Afghanistan  AFG  2000  0.003664  0.787760  0.223504  0.010216  0.021984
1  Afghanistan  AFG  2001  0.069616  0.762112  0.208848  0.006538  0.021984
2  Afghanistan  AFG  2002  0.055109  0.727438  0.547416  0.011033  0.000000
3  Afghanistan  AFG  2003  0.091813  0.991575  0.466408  0.009807  0.000000
4  Afghanistan  AFG  2004  0.091600  0.908672  0.227168  0.009807  0.000000